
/*Fonts connection*/

@font-face {
	font-family: "Aller";
 	src: url("../fonts/Aller_Bd.ttf") format("ttf");
 	font-weight: bold;
}

/*@font-face {
	font-family: "Aller Italic";
 	src: url("../fonts/Aller_It.ttf") format("ttf");
 	font-style: italic;
}*/

@font-face {
	font-family: "Aller Light";
 	src: url("../fonts/Aller_Lt.ttf") format("ttf");
}

@font-face {
	font-family: "Myriad Pro";
 	src: url("../fonts/Myriad_Pro.otf") format("otf");
}

@font-face {
	font-family: "STHeitiTC";
 	src: url("../fonts/STHeitiTCMedium.ttf") format("ttf");
}


