html, body {
	margin: 0;
	padding: 0;
}

section {
	height: 450px;
	width: 100%;
}

.wrap {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	color: #fff;
	text-align:center;
	background:#120103;
}

header {
	background:#2e2e2e;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100%;
	height: 90px;
}

header div:only-child {
	margin: auto;
	width: 572px;

}

header label {
	color: #788188;
	cursor: pointer;
	display: inline-block;
	width: 188px;
	text-align:center;
}

header label h3{
	font-size: 18px;
	margin: 0;
}

header label p{
	font-size: 12px;
	margin: 10px;
}

header label:hover {
	background:#2e353b;
}

.control {
	background-color: #000000;
	height: 10px;
	width: 188px;
	margin-top: 5px;
}

.slide {
	width: 100%;
	height: 75%;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 10;
	padding: 8em 1em 0;
	background-color: #eae9e5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: left 0s .75s;
}

.slide-one {
	background-image: url("imgbg.png");
}

.slide-two {
	background-image: url("imgbg2.png");
}

.slide-three {
	background-image: url("imgbg3.png");
}

[id^='slide']:checked + .slide {
	left: 0;
	z-index: 100;
	transition: left .65s ease-out;
}

.text {
	position: absolute;
    top: 72px;
    left: 755px;
    z-index: 1000;
}

.price {
	font-family:"Aller";
	font-weight: bold; 
	width:68px;
	height:68px;
	background-color:#57c5a0;
	font-size:13px;
	color: #ffffff;
	text-align:center;
	margin-bottom: 18px;
	display: table-cell;
  	vertical-align: middle;
}

.heading_text span {
	font-family: "Aller Light";
	font-size: 40px;
	margin: 0;
}

.heading_text p {
	font-family: "Aller Light";
	font-size: 20px;
	line-height: 25px;
}

.action_menu {
	display: flex;
}

.action_menu div {
	margin:35px 20px;
}

.action_menu div:hover {
	cursor: pointer;
}