/*Footer*/

.footer {
	width: 100%;
	background-color: #2e2e2e;
}

.footer .container {
	display: flex;
	align-items: center;
	font-family: "Aller";
	font-size: 12px;
	color: #a3a3a3;
	line-height: 18px;
	padding: 26px 0;
	letter-spacing: 0.3px;
}

.footer .copyright {
	flex-grow: 3;
	padding-left: 9px;
}

.footer .contact {
	padding-right: 9px;
}
