/* Section with logo, search and login/register */

.logo-section {
	width: 100%;
	background-color: #242424;
	height: 45px;
}

.logo-section .container {
	display: flex;
}

.logo a:first-child {
	margin: 0;
	text-decoration: none;
	color: #57c5a0;
	text-transform: uppercase;
	font-family: "STHeitiTC", sans-serif; 
	font-size: 26px;
}

.logo {
	flex-grow: 3;
	padding: 9px 0;
	margin-left: 7px;
	letter-spacing: -2.6px;
}

#search {
	display: flex;
	height: 45px;
}

.search {
	border: none;
	background-color : #242424;
	height: 100%;
	color: #9b9898;
	width: 76px;
	border-left: 1px solid #9b9898;
	padding: 0 18px;
	font-family: "Myriad Pro";
	font-size: 12px;
	letter-spacing: 1.7px;
	text-transform: uppercase;
	outline: none;
}

.search_btn {
	height: 45px;
}

.search_btn img {
	padding: 15px 22px;
}

.search_icon img {
	color: #9b9898;
	padding: 23px 22px;
}

.search_btn:hover {
	cursor: pointer;
}

.login-sec {
	border-right: 1px solid #9b9898;
	border-left: 1px solid #9b9898;
	height: 45px;
	width: 138px;
	position: relative;
	margin-right: 10px;
}

.login-sec a{
	color: #9b9898;
	text-decoration: none;
	font-size: 11px;
	font-family: "Aller";
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
