/*Navigation section */

.menu {
	width: 100%;
	background-color: #ffffff;
}

.menu .container {
	display: flex;
	height: 60px;
}

.menu ul {
	display: flex;
	list-style: none;
	text-decoration: none;
	padding:0;
	margin: 0;
}

.menu ul li {
	border-left: 1px solid #eeeeee;
	padding: 22px;
}
.menu ul li:nth-of-type(2) {
	padding-left: 21px;
}

.menu ul li:nth-of-type(3) {
	padding-left: 25px;
}

.menu ul li:nth-of-type(4) {
	padding-left: 25px;
}

.menu ul li:last-child {
	border-right: 1px solid #eeeeee;
	padding-left: 21px;
}

.menu ul li a {
	font-family: "Aller";
	font-size: 16px;
	color: #242424;
	text-decoration: none;
}

.menu ul li:hover {
	background-color: rgba(0,0,0,0.03);
	cursor: pointer;
}

.menu ul li a:active {
	color: #57c5a0;;
}

nav {
	flex-grow: 3;
	margin-left: 10px;
}

.wishlist {
	width: 20px;
	height: 20px;
	background-color: #adadad;
	color: #ffffff;
	font-family: "Aller";
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	border-radius: 3px;
	display: table;
}

.wishlist span {
	display: table-cell;
  	vertical-align: middle;
}

.cart-counter {
	width: 20px;
	height: 20px;
	background-color: #57c5a0;
	color: #ffffff;
	font-family: "Aller";
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	border-radius: 3px;
	display: table;
}

.cart-counter:hover, .wishlist:hover {
	cursor: pointer;
}

.cart-counter span {
	display: table-cell;
  	vertical-align: middle; 
}

.item-counter, .cart {
	display: flex;
	border-left: 1px solid #eeeeee;
	justify-content: center;
	align-items: center;
}

.item-counter {
	width: 88px;
}

.item-counter img, .cart img {
	padding-right: 9px;
	padding-top: 4px; 
}

.cart {
	border-right: 1px solid #eeeeee;
	margin-right: 10px;
	width: 90px;
}
