/*New arrivals products sections*/
.heading1 {
	display: flex;
	margin: 30px 10px 28px 8px;
}

.heading2 {
	display: flex;
	margin: 38px 10px 29px 7px;
}

.heading1 span, .heading2 span {
	flex-grow: 3;
	font-family: "Aller Light";
	font-size: 25px;
}

.button {
	font-family: "Aller";
	font-size: 14px;
	color: #bcb5a7;
	border: 1px solid #bcb5a7;
    letter-spacing: 0.2px;
    padding: 5px 20px;
}

.button:hover {
	cursor: pointer;
}

.button p {
	margin: 0;
}

.main-items {
	width: 100%;
	background-color: #ebe7df;
	display: flex;
	padding-bottom: 47px; 
}

#arrivals, #best_sellers {
	display: flex;
}

.new_arrivals {
	position: relative;
	width: 300px;
	height: 270px;
}

.new_arrivals {
	margin: 0 10px;
}

.new_arrivals:nth-of-type(2) {
	margin-left: 12px;
}

.new_arrivals:last-child {
	margin-left: 9px;
}

.prod-img {
	width: 300px;
	height: 220px;
}

.product-price {
	font-family:"Aller";
	font-weight: bold; 
	width: 68px;
	height: 68px;
	background-color: #57c5a0;
	font-size: 13px;
	color: #ffffff;
	text-align: center;
	display: table;
  	position: absolute;
  	top: 204px;
  	left: 12px;
}

.product-price span {
	display: table-cell;
  	vertical-align: middle;
}

.product-name {
	font-size: 18px;
	color: #242424;
	height: 48px;
	background-color: #ffffff;
	border-top: 1px solid #cccccc;
}

.product-name span {
	position: absolute;
	left: 92px;
	top: 234px;
	letter-spacing: .4px;
}

.product-name:hover {
	cursor: pointer;
}

#action_menu {
	background-color: #fff;
	display: flex;
	opacity: 0;
}

#action_menu:hover {
	opacity: 1;
	transition: .2s;
}

#action_menu {
	position: absolute;
	top: 223px;
	left: 87px;
	padding: 0 21px;
}

#action_menu div {
	margin: 12.5px;
}

#action_menu:hover {
	cursor: pointer;
}

#on_sale {
	position: absolute;
	left: 219px;
	top: 0;
	background-color: #242424;
	width: 68px;
	height: 68px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	font-family: "Aller";
	font-size: 13px;
	font-weight: bold;
	display: table;
}

#on_sale span {
	display: table-cell;
  	vertical-align: middle;
}


/*Best sellers products section*/

#best_sellers {
	margin-top:-2px;	
}

#out_stock {
	position: absolute;
	left: 221px;
	top: 0;
	background-color: #f27e4b;
	width: 68px;
	height: 68px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	font-family: "Aller";
	font-size: 13px;
	font-weight: bold;
	display: table;
}

#out_stock span {
	display: table-cell;
  	vertical-align: middle;	
}
