/*Fonts connection*/

@font-face {
	font-family: "Aller";
 	src: url("../fonts/Aller_Bd.ttf") format("ttf");
 	font-weight: bold;
}

@font-face {
	font-family: "Aller Light";
 	src: url("../fonts/Aller_Lt.ttf") format("ttf");
}

@font-face {
	font-family: "Aller Reg";
 	src: url("../fonts/Aller_Rg.ttf") format("ttf");
}

@font-face {
	font-family: "Myriad Pro";
 	src: url("../fonts/Myriad_Pro.otf") format("otf");
}

@font-face {
	font-family: "STHeitiTC";
 	src: url("../fonts/STHeitiTCMedium.ttf") format("ttf");
}

/*Container 960px*/

.container {
	font-family: "Aller", Arial, sans-serif;
	width: 960px;
	margin: 0 auto;
}

/* Section with logo, search and login/register */

.logo-section {
	width: 100%;
	background-color: #242424;
	height: 45px;
}

.logo-section .container {
	display: flex;
}

.logo a:first-child {
	margin: 0;
	text-decoration: none;
	color: #57c5a0;
	text-transform: uppercase;
	font-family: "STHeitiTC", sans-serif; 
	font-size: 26px;
}

.logo {
	flex-grow: 3;
	padding: 9px 0;
	margin-left: 7px;
	letter-spacing: -2.6px;
}

#search {
	display: flex;
	height: 45px;
}

.search {
	border: none;
	background-color : #242424;
	height: 100%;
	color: #9b9898;
	width: 76px;
	border-left: 1px solid #9b9898;
	padding: 0 18px;
	font-family: "Myriad Pro";
	font-size: 12px;
	letter-spacing: 1.7px;
	text-transform: uppercase;
	outline: none;
}

.search_btn {
	height: 45px;
}

.search_btn img {
	color: #9b9898;
	padding: 15px 22px;
}

.search_btn:hover {
	cursor: pointer;
}

.login-sec {
	border-right: 1px solid #9b9898;
	border-left: 1px solid #9b9898;
	height: 45px;
	width: 138px;
	position: relative;
	margin-right: 10px;
}

.login-sec a{
	color: #9b9898;
	text-decoration: none;
	font-size: 11px;
	font-family: "Aller";
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/*Navigation section */

.menu {
	width: 100%;
	background-color: #ffffff;
}

.menu .container {
	display: flex;
	height: 60px;
}

.menu ul {
	display: flex;
	list-style: none;
	text-decoration: none;
	padding:0;
	margin: 0;
}

.menu ul li {
	border-left: 1px solid #eeeeee;
	padding: 22px;
}
.menu ul li:nth-of-type(2) {
	padding-left: 21px;
}

.menu ul li:nth-of-type(3) {
	padding-left: 25px;
}

.menu ul li:nth-of-type(4) {
	padding-left: 25px;
}

.menu ul li:last-child {
	border-right: 1px solid #eeeeee;
	padding-left: 21px;
}

.menu ul li a {
	font-family: "Aller";
	font-size: 16px;
	color: #242424;
	text-decoration: none;
}

.menu ul li:hover {
	background-color: rgba(0,0,0,0.03);
	cursor: pointer;
}

.menu ul li a:active {
	color: #57c5a0;;
}

nav {
	flex-grow: 3;
	margin-left: 10px;
}

.wishlist {
	width: 20px;
	height: 20px;
	background-color: #adadad;
	color: #ffffff;
	font-family: "Aller";
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	border-radius: 3px;
	display: table;
}

.wishlist span {
	display: table-cell;
  	vertical-align: middle;
}

.cart-counter {
	width: 20px;
	height: 20px;
	background-color: #57c5a0;
	color: #ffffff;
	font-family: "Aller";
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	border-radius: 3px;
	display: table;
}

.cart-counter:hover, .wishlist:hover {
	cursor: pointer;
}

.cart-counter span {
	display: table-cell;
  	vertical-align: middle; 
}

.item-counter, .cart {
	display: flex;
	border-left: 1px solid #eeeeee;
	justify-content: center;
	align-items: center;
}

.item-counter {
	width: 88px;
}

.item-counter img, .cart img {
	padding-right: 9px;
	padding-top: 4px; 
}

.cart {
	border-right: 1px solid #eeeeee;
	margin-right: 10px;
	width: 90px;
}


.banner {
	width: 100%;
	height: 260px;
	background-image: url("../img/banner.png");
	background-position-x: 12px;
}

/*Static heading text on slider*/

.text1 {
	position: absolute;
    top: 159px;
    left: 752px;
    z-index: 1000;
    width: 385px;
    overflow: hidden;
}
.text1 {
	display: flex;
}

.price {
	font-family:"Aller";
	font-weight: bold; 
	width:68px;
	height:68px;
	background-color:#57c5a0;
	font-size:13px;
	color: #ffffff;
	text-align:center;
	display: table;
}

.price span {
	display: table-cell;
  	vertical-align: middle;
}

.heading_text p:first-child {
	font-family: "Aller Light";
	font-size: 40px;
	line-height: 40px;
	padding-left: 21px;
    margin-top: -5px;	
}


.heading_text p:last-child {
	font-family: "Aller Light";
	font-size: 20px;
	line-height: 25px;
	margin-left: -69px;
    margin-top: -35px;
}

.shop-by {
	width: 100%;
	height: 91px;
	background-color: #2e2e2e;
}

.shop-by .container {
	display: flex;
	padding: 15px 10px 15px 70px;
	align-items: baseline;
}

.categories {
	font-family: "Aller";
	font-size: 22px;
	color: #ffffff;
	padding-left: 50px;
	padding-right: 78px;
    letter-spacing: 0.3px;
}

.list {
    border: none;
    background-color: #242424;
    margin: 0 10px;
 }

 .list select {
 	width: 220px;
    height: 60px;
 }

 .dropdown1 {
    font-family: "Aller";
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.5px;
    border: 0;
    background: url("../img/arrow-down.png") no-repeat right #242424;
    -webkit-appearance: none;
    background-position-x: 184px;
    text-indent: 37%;
}

.dropdown1:focus  {
	outline:0;
}

.dropdown2 {
    font-family: "Aller";
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.5px;
    border: 0;
    background: url("../img/arrow-down.png") no-repeat right #242424;
    -webkit-appearance: none;
    background-position-x: 184px;
    text-indent: 29%;
}

.dropdown2:focus  {
	outline:0;
}

.dropdown3 {
    font-family: "Aller";
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.5px;
    border: 0;
    background: url("../img/arrow-down.png") no-repeat right #242424;
    -webkit-appearance: none;
    background-position-x: 184px;
    text-indent: 40%;
}

.dropdown3:focus  {
	outline:0;
}

.dropdown1:hover, .dropdown2:hover, .dropdown3:hover {
	cursor: pointer;
} 



/*New arrivals products sections*/
.allprod {
	display: flex;
	flex-grow: 3;
	padding: 32px 0px 19px 8px;
}

.allprod span {
	font-family: "Aller Light";
	font-size: 25px;
}

.allprod p {
	padding-left: 18px;
}

.heading, .sort-controls {
	display: flex;
}

.sort-controls {
	align-items: baseline;
	padding: 23px 10px 20px 0;
}

.heading p {
	font-family: "Aller";
	font-size: 12px;
	font-weight: bold;
	color: #bcb5a7;
}

.sort-controls  p {
	font-size: 14px;
}

.sort-controls div:not(.button) {
	border: 1px solid #bcb5a7;
	width: 28px;
	height: 28px;
	text-align: center;
}

.sort-bylist {
	margin-right: 20px;
}

.sort-by3 {
	margin: 0 10px 0 14px;
}

.sort-by3 img{
	margin-top: 6.5px;
}

.sort-by3:hover, .sort-bylist:hover {
	cursor: pointer;
}

.sort-bylist img{
	margin-top: 9px;
}

.button {
	font-family: "Aller";
	font-size: 14px;
	border: 1px solid #bcb5a7;
	font-weight: bold;
	color: #bcb5a7;
	display: flex;
	align-items: baseline;
}

.button img {
	margin-right: 12px;	
}

.button:hover {
	cursor: pointer;
}

.button p {
	padding: 0px 13px 0 33px;
    margin: 8px 0 5px 0;
    letter-spacing: 0.4px;
}

.main-items {
	width: 100%;
	background-color: #ebe7df;
	padding-bottom: 11px; 
}

.main-items .conntainer:not(.heading) {
	display: flex;
}

#arrivals {
	flex-wrap: wrap;
	justify-content: space-between;
	margin: -1px 10px 0 10px;
}

.active {
	border: 2px solid #bcb5a7;
}

.cols {
	display: flex;
}

.rows {
	display: block;
}

.rows .product-price, .rows .product-name, .rows #action_menu {
	display: none;
}

.description-text {
	display: none;
	width: 80%;
	text-align: justify;
}

.rows .description-text { 
	display: inline-block; 
	margin-top: 14px;
}

.rows .new_arrivals {
	height: 220px;
	margin-bottom: 0;
}

.rows .new_arrivals:nth-of-type(3), .rows .new_arrivals:nth-of-type(6), .rows .new_arrivals:nth-of-type(9)  {
	margin: 0;
}

.rows .new_arrivals:nth-of-type(2), .rows .new_arrivals:nth-of-type(5), .rows .new_arrivals:nth-of-type(8)  {
	margin: 0;
}

.description-text span {
	font-family: "Aller";
	font-weight: bold;
	font-size: 18px;
	color: #57c5a0;
	padding: 10px;
	line-height: 22px;
}

.description-text p {
	font-size: 14px;
	color: #242424;
	line-height: 18px;
}

.new_arrivals {
	position: relative;
	width: 300px;
	height: 270px;
	margin-bottom: 16px;
}

.new_arrivals:nth-of-type(3), .new_arrivals:nth-of-type(6), .new_arrivals:nth-of-type(9)  {
	margin-right: -1px;	
}

.new_arrivals:nth-of-type(2), .new_arrivals:nth-of-type(5), .new_arrivals:nth-of-type(8) {
	margin-left: 4px;
}


.prod-img {
	width: 300px;
	height: 220px;
}

.product-price {
	font-family:"Aller";
	font-weight: bold; 
	width: 68px;
	height: 68px;
	background-color: #57c5a0;
	font-size: 13px;
	color: #ffffff;
	text-align: center;
	display: table;
  	position: absolute;
  	top: 204px;
  	left: 12px;
}

.product-price span {
	display: table-cell;
  	vertical-align: middle;
}

.product-name {
	font-size: 18px;
	color: #242424;
	height: 48px;
	background-color: #ffffff;
	border-top: 1px solid #cccccc;
}

.product-name span {
	position: absolute;
	left: 92px;
	top: 234px;
	letter-spacing: .4px;
}

.product-name:hover {
	cursor: pointer;
}

#action_menu {
	background-color: #fff;
	display: flex;
	opacity: 0;
}

#action_menu:hover {
	opacity: 1;
	transition: .2s;
}

#action_menu {
	position: absolute;
	top: 223px;
	left: 87px;
	padding: 0 21px;
}

#action_menu div {
	margin: 12.5px;
}

#action_menu:hover {
	cursor: pointer;
}

#on_sale {
	position: absolute;
	left: 219px;
	top: 0;
	background-color: #242424;
	width: 68px;
	height: 68px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	font-family: "Aller";
	font-size: 13px;
	font-weight: bold;
	display: table;
}

#on_sale span {
	display: table-cell;
  	vertical-align: middle;
}

#out_stock {
	position: absolute;
	left: 221px;
	top: 0;
	background-color: #f27e4b;
	width: 68px;
	height: 68px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	font-family: "Aller";
	font-size: 13px;
	font-weight: bold;
	display: table;
}

#out_stock span {
	display: table-cell;
  	vertical-align: middle;	
}

/*Section with free shiping, testimonials and blog*/

.addon {
	width: 100%;
	background-color: #ebe7df;
}

.addon .container {
	display: flex;
	border-top: 1px solid #bcb5a7;
}

.addon .container p {
	line-height: 16px;
}

.shipping, .testimonials, .blog {
	margin: 26px 10px 23px 10px;
}

.shipping, .testimonials {
	box-sizing: border-box;
	width: 220px;
	height: 185px;
	background-color: #dfdbd4;
	font-family: "Aller";
	font-size: 12px;
	color: #242424;
}

.shipping p, .testimonials p {
	padding: 0 16px 0 16px;
}

.testimonials i{
	padding: 20px;
}

.blog {
	width: 460px;
	height: 185px;
	background-color: #dfdbd4;
	font-family: "Aller";
	font-size: 12px;
	color: #242424;
	box-sizing: border-box;
}

.date {
	width: 36px;
	height: 36px;
	display: table;
	background-color: #57c5a0;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	font-family: "Aller";
	font-weight: bold;
	font-size: 12px;
}

.date span {
	display: table-cell;
  	vertical-align: middle;		
}

.news {
	padding-left: 9px;
    padding-top: 2px;
}

.news p {
	font-size: 12px;
}

.addon h4 {
	font-family: "Aller";
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	padding: 30px 0px 0px 15px;
}

.text-pos {
	display: flex;
	padding: 8px 18px;
}

.blog .text-pos .news p{
	margin: 0;
}


.blog h5 {
	font-family: "Aller";
	font-size: 14px;
}

.blog h4 {
	padding-left: 18px;
	padding-bottom: 10px;
}

.blog p {
	font-family: "Aller";
}

h4, h5 {
	margin:0;
}

/*Section with with widgets*/

.pre-footer {
	width: 100%;
	background-color: #242424;
}

.widgets {
	display: flex;
	font-size: 12px;
	color: #a4a4a4;
	line-height: 19px;
	justify-content: flex-start;
	padding: 48px 30px 18px 51px;
}

.widgets p {
	font-style: italic;
}

.widgets h4 {
	font-family: "Aller";
	font-size: 14px;
	text-transform: uppercase;
	color: #7d7d7d;
}

.widget1 {
	width: 260px;
	text-align: justify;
	
}

.widget2 {
	width: 260px;
	margin-left: 43px;
}

.widget2 span {
	color: #54bd9a;
}

.widget1 p{
	padding: 4px 4px 0px 1px;
    line-height: 18px;
}

.widget2 p:first-of-type {
	padding: 4px 3px 0px 2px;
	
}

.widget2 p:last-of-type {
	padding: 2px 0px 5px 2px;
	
}

.widget3 {
	width: 260px;
	margin-left: 51px;
}

.widget3 h4 {
	padding-bottom: 17px;	
}

.widget3 .imgs img{
	padding: 1px 5px 2px 1px;
}

#myImg1:hover, #myImg2:hover, #myImg3:hover, #myImg4:hover, #myImg5:hover, #myImg6:hover {
    cursor: pointer;
    opacity: 0.7;}

.modal {
    display: none;
    position: fixed; 
    z-index: 1111; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*Section with email validation and social links*/

.social {
	width: 100%;
	background-color: #242424;
	border-top: 1px solid #1c1c1c;
}

.soc-items {
	display: flex;
	padding: 37px 0px 45px 50px;
}

.email {
	display: flex;
	flex-grow: 3;
}

.email input {
	width: 201px;
	height: 36px;
	font-family: "Aller";
	font-style: italic;
	font-size: 12px;
	outline: none;
	border: none;
	background-color : #2e2e2e;
	padding: 0 0 0 13px;
	color: #666666;
}

.arrow {
	width: 36px;
	height: 36px;
	background-color: #7d7d7d;
	text-align: center;
}

.arrow img {
	color: #2e2e2e;
	margin: 12px 0;
}

.arrow:hover {
	cursor: pointer;
}

.social-links {
	display: flex;
	margin-right: 46px;
}

.social_item {
	width: 36px;
	height: 36px;
	background-color: #2e2e2e;
	color: #7d7d7d;
	text-align: center;
	margin: 0 4px;
}

#flickr {
	padding: 7px;
}

.social_item img{
	margin: 8px 0;
}

.social_item:hover {
	cursor: pointer;
}

/*Footer*/

.footer {
	width: 100%;
	background-color: #2e2e2e;
}

.footer .container {
	display: flex;
	align-items: center;
	font-family: "Aller";
	font-size: 12px;
	color: #a3a3a3;
	line-height: 18px;
	padding: 26px 0;
	letter-spacing: 0.3px;
}

.footer .copyright {
	flex-grow: 3;
	padding-left: 9px;
}

.footer .contact {
	padding-right: 9px;
}

/*Registration and login form*/

#modal_window {
	font-family: "Aller";
	padding: 45px;
	text-align: center;
	position: fixed; 
    z-index: 1010; 
    padding-top: 100px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(36,36,36,0.8); 
}

.log-form p {
	font-family: "Aller";
	font-size: 16px;
	text-transform: uppercase;
	color: #ffffff;
}

#modal_window input {
	font-family: "Aller"; 
	outline: 1;
	background-color: #f2f2f2;
	width: 100%;
	border: none;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	color: #242424;
}

#modal_window button {
	font-family: ;
	text-transform: uppercase;
	outline: 0;
	background-color: #60ab92;
	width: 100%;
	border: none;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
}

#modal_window button:hover, #modal_window button:active {
	background-color: #57c5a0;
}

#modal_window .message {
	margin: 15px 0 0;
	color: #ffffff;
	font-size: 14px;	
}

#modal_window .message a {
	color: #f27e4b;
	text-decoration: none;
	font-family: "Aller";
	font-size: 12px;
}

.d-none {
	display: none;
}

.log-form{
	width: 360px;
	margin: auto;
	position: absolute;
	top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* The Close Button */
#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover, #close:focus {
    color: #ea2e2e;
    text-decoration: none;
    cursor: pointer;
}


