/*Propositions section*/

.propositions {
	width: 100%;
	background-color: #242424;
}

.propositions .container {
	display: flex;
}

.specials {
	width: 298px;
	height: 180px;
	display: flex;
	justify-content: center;
	color: #ffffff;
	text-transform: uppercase;
	font-family: "Aller Light";
	font-size: 25px;
	background-size: cover;
	margin: 25px 10px;
	padding: 0 2px;
}

.specials:first-child {
	background-image: url("../img/img.png");
}

.specials:nth-of-type(2) {
	background-image: url("../img/img2.png");
}

.specials:last-child {
	background-image: url("../img/img3.png");
}

.sale, .spec_off, .must_have {
	margin: auto;
}

.specials span {
	background-color: rgba(36,39,37,0.9);
}

.sale span {
	padding: 16px 42px;
}

.spec_off span{
	padding: 16px 24px;	
}

.must_have span{
	padding: 16px 25px;	
}

