/*Registration and login form*/

#modal_window {
	font-family: "Aller";
	padding: 45px;
	text-align: center;
	position: fixed; 
    z-index: 1010; 
    padding-top: 100px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(36,36,36,0.8); 
}

.log-form p {
	font-family: "Aller";
	font-size: 16px;
	text-transform: uppercase;
	color: #ffffff;
}

#modal_window input {
	font-family: "Aller"; 
	outline: 1;
	background-color: #f2f2f2;
	width: 100%;
	border: none;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	color: #242424;
}

#modal_window button {
	font-family: ;
	text-transform: uppercase;
	outline: 0;
	background-color: #60ab92;
	width: 100%;
	border: none;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
}

#modal_window button:hover, #modal_window button:active {
	background-color: #57c5a0;
}

#modal_window .message {
	margin: 15px 0 0;
	color: #ffffff;
	font-size: 14px;	
}

#modal_window .message a {
	color: #f27e4b;
	text-decoration: none;
	font-family: "Aller";
	font-size: 12px;
}

.d-none {
	display: none;
}

.log-form{
	width: 360px;
	margin: auto;
	position: absolute;
	top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* The Close Button */
#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover, #close:focus {
    color: #ea2e2e;
    text-decoration: none;
    cursor: pointer;
}
