/*Slider section*/

.slider {
	height: 461px;
	width: 100%;
}

.wrap {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	color: #fff;
	text-align: center;
	background: #eae9e5;
}

.slider-btns {
	background:#2e2e2e;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100%;
	height: 90px;
}

.slider-btns > div {
	margin: auto;
	width: 572px;
	padding-left: 30px;
}

.slider-btns label {
	color: #788188;
	cursor: pointer;
	display: inline-block;
	width: 186px;
	text-align: center;
	padding-top: 6px;
}

.slider-btns label span{
	font-family: "Aller";
	font-size: 18px;
	letter-spacing: 0.4px;
}

.slider-btns label p{
	font-family: "Aller";
	font-size: 12px;
	margin: 3px;
	letter-spacing: .4px;
}

.slider-btns label:hover {
	background: rgba(0,0,0,0.09);
	color: #ffffff;
}

.control {
	background-color: #000000;
	height: 10px;
	width: 186px;
	margin-bottom: 16px;
}

.slide {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 10;
	background-color: #eae9e5;
	background-size: cover;
	background-repeat: no-repeat;
	transition: left 0s .75s;
}

.slide-one {
	background-image: url("../img/imgbg.png");
	background-position-x: 3px;
}

.slide-two {
	background-image: url("../img/imgbg2.png");
}

.slide-three {
	background-image: url("../img/imgbg3.png");
}

[id^='slide']:checked + .slide {
	left: 0;
	z-index: 100;
	transition: left .65s ease-out;
}

.active-control span, .active-control p {
	color: #ffffff;
}

.active-control .control {
	background-color: #57c5a0;
}

/*Static heading text on slider*/

.text {
	position: absolute;
    top: 175px;
    left: 752px;
    z-index: 1000;
    height: 315px;
    overflow: hidden;
}

.price {
	font-family:"Aller";
	font-weight: bold; 
	width:68px;
	height:68px;
	background-color:#57c5a0;
	font-size:13px;
	color: #ffffff;
	text-align:center;
	display: table-cell;
  	vertical-align: middle;
}

.heading_text p:first-child {
	font-family: "Aller Light";
	font-size: 40px;
	line-height: 40px;
    padding-top: 13px;	
}


.heading_text p {
	font-family: "Aller Light";
	font-size: 20px;
	line-height: 25px;
	margin: 0;
	padding-top: 7px
}

.action_menu {
	display: flex;
	margin-top: -6px;
}

.action_menu div:hover {
	cursor: pointer;
}

.action_menu div {
	width: 40px;
	height: 40px;
	background-color: #fafaf9;
	position: relative;
	margin: 20px 1px;
}

.action_menu div:first-child {
	margin-left: 0px;
}

.action_menu img {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);	
}
