/*Section with email validation and social links*/

.social {
	width: 100%;
	background-color: #242424;
	border-top: 1px solid #1c1c1c;
}

.soc-items {
	display: flex;
	padding: 37px 0px 45px 50px;
}

.email {
	display: flex;
	flex-grow: 3;
}

.email input {
	width: 201px;
	height: 36px;
	font-family: "Aller";
	font-style: italic;
	font-size: 12px;
	outline: none;
	border: none;
	background-color : #2e2e2e;
	padding: 0 0 0 13px;
	color: #666666;
}

.arrow {
	width: 36px;
	height: 36px;
	background-color: #7d7d7d;
	text-align: center;
}

.arrow img {
	color: #2e2e2e;
	margin: 12px 0;
}

.arrow:hover {
	cursor: pointer;
}

.social-links {
	display: flex;
	margin-right: 46px;
}

.social_item {
	width: 36px;
	height: 36px;
	background-color: #2e2e2e;
	color: #7d7d7d;
	text-align: center;
	margin: 0 4px;
}

#flickr {
	padding: 7px;
}

.social_item img{
	margin: 8px 0;
}

.social_item:hover {
	cursor: pointer;
}
