
/*Container 960px*/

.container {
	font-family: "Aller", Arial, sans-serif;
	width: 960px;
	margin: 0 auto;
}

/*Media queries*/

/*For static text on slider*/
@media screen and (min-width: 960px) and (max-width: 1150px) { 
	.text {
		left: 555px;
	}
}

/*for screens that are between 768px and 960px*/

@media screen and (min-width: 768px) and (max-width: 960px) { 

	.container {
		width: 720px;
		padding: 0; 
	}

	.search {
		display: none;
	}

	nav {
		flex-grow: 0;
	}

	.action_menu div {
		background-color: rgba(251,250,249,0.8);
	}

	.text {
		position: absolute;
	    top: 175px;
	    left: 368px;
	    z-index: 1000;
	    width: 390px;
	    height: 300px;
	    overflow: hidden;
	}

	.slide-one {
	    background-image: url(../img/imgbg.png);
	    background-position-x: -130px;
	}

	.heading1 {
		margin: 30px 10px 28px 0px;
	}

	.heading2 {
		margin: 38px 10px 29px 0px;
	}

	.new_arrivals {
		width: 220px;
		margin: 0 10px;
	}

	.new_arrivals img {
		width: 220px;
		height: 220px;
	}

	#on_sale, #out_stock, #action_menu {
		display: none;
	}

	.prod-img {
		width: 220px;
	}

	.shipping {
		display: none;
	}

	.widgets {
		justify-content: space-between;
		padding: 48px 10px 18px 10px
	}

	.widget2 {
		display: none;
	}

	.soc-items {
		padding: 37px 10px 45px 10px;
	}

	.social-links {
	    margin-right: 10px;
	}

	.footer .copyright {
	    padding-left: 10px;
	}

	.footer .contact {
	    padding-right: 10px;
	}
}


/*for screens that are between 320px and 768px*/

@media screen and (min-width: 320px) and (max-width: 768px) { 

	body {
		background-color: #ebe7df;
	}

	.container {
		width: 100%;
	}

	.logo {
		margin-left: 0;
	}

	.logo a:first-child {
		letter-spacing: -3.6px;
	}

	.login-sec {
		margin-left: 0;
		margin-right: 0;
	}
	.menu .container {
	    justify-content: space-between;
	}

	#menu320px {
		display: flex;
		width: 45%;
		margin: 0;
	}

	.dropdown {
		width: 50%;
		text-align: center;
	}

	.dropdown-content {
		text-align: left;
	}

	.search_icon {
		width: 50%;
		text-align: center;
	}

	.item-counter {
		width: 23%;
	}

	.cart {
		margin-right: 0;
		width: 32%;
	}

	.slider-btns, .propositions, .addon, .pre-footer, .social, .footer, .main-items, #search, .slider .wrap, nav {
		display: none;
	}

	.slider {
		background-image: url("../img/img320px.png");
		overflow: hidden;
		background-repeat-y:no-repeat;
		background-repeat-x:no-repeat;
	    background-position-x: center;
	}

	.slider .text {
		top: 124px;
    	left: 5%;
    	height: 520px;
	}

	.heading_text p:first-child {
		font-family: "Aller Light";
		font-size: 40px;
	    padding-top: 17px;	
	}

	.heading_text p {
		font-size: 16px;
		margin: 0;
		padding-top: 17px
	}

	.action_menu {
		display: flex;
		margin-top: 35px;
	}

}