/*Section with free shiping, testimonials and blog*/

.addon {
	width: 100%;
	background-color: #ebe7df;
}

.addon .container {
	display: flex;
	border-top: 1px solid #bcb5a7;
}

.addon .container p {
	line-height: 16px;
}

.shipping, .testimonials, .blog {
	margin: 26px 10px 23px 10px;
}

.shipping, .testimonials {
	box-sizing: border-box;
	width: 220px;
	height: 185px;
	background-color: #dfdbd4;
	font-family: "Aller";
	font-size: 12px;
	color: #242424;
}

.shipping p, .testimonials p {
	padding: 0 16px 0 16px;
}

.testimonials i{
	padding: 20px;
}

.blog {
	width: 460px;
	height: 185px;
	background-color: #dfdbd4;
	font-family: "Aller";
	font-size: 12px;
	color: #242424;
	box-sizing: border-box;
}

.date {
	width: 36px;
	height: 36px;
	display: table;
	background-color: #57c5a0;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	font-family: "Aller";
	font-weight: bold;
	font-size: 12px;
}

.date span {
	display: table-cell;
  	vertical-align: middle;		
}

.news {
	padding-left: 9px;
    padding-top: 2px;
}

.news p {
	font-size: 12px;
}

.addon h4 {
	font-family: "Aller";
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	padding: 30px 0px 0px 15px;
}

.text-pos {
	display: flex;
	padding: 8px 18px;
}

.blog .text-pos .news p{
	margin: 0;
}


.blog h5 {
	font-family: "Aller";
	font-size: 14px;
}

.blog h4 {
	padding-left: 18px;
	padding-bottom: 10px;
}

.blog p {
	font-family: "Aller";
}

h4, h5 {
	margin:0;
}

/*Section with with widgets*/

.pre-footer {
	width: 100%;
	background-color: #242424;
}

.widgets {
	display: flex;
	font-size: 12px;
	color: #a4a4a4;
	line-height: 19px;
	justify-content: flex-start;
	padding: 48px 30px 18px 51px;
}

.widgets p {
	font-style: italic;
}

.widgets h4 {
	font-family: "Aller";
	font-size: 14px;
	text-transform: uppercase;
	color: #7d7d7d;
}

.widget1 {
	width: 260px;
	text-align: justify;
	
}

.widget2 {
	width: 260px;
	margin-left: 43px;
}

.widget2 span {
	color: #54bd9a;
}

.widget1 p{
	padding: 4px 4px 0px 1px;
    line-height: 18px;
}

.widget2 p:first-of-type {
	padding: 4px 3px 0px 2px;
	
}

.widget2 p:last-of-type {
	padding: 2px 0px 5px 2px;
	
}

.widget3 {
	width: 260px;
	margin-left: 51px;
}

.widget3 h4 {
	padding-bottom: 17px;	
}

.widget3 .imgs img{
	padding: 1px 5px 2px 1px;
}
